/Autenticação de Login.py
/Contas Básicas.py
/Controle de Temperatura.py
/Desconto.py
/Desempenho Escolar.py
/dimensões de um retângulo.py
/Exercicio De variável.py
/Operadores de Comparação.py
/Saudações.py
/Vários input.py